<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="teste.Properties.Settings.tccConnectionString" connectionString="Data Source=DESKTOP-82TTK8C\SQLEXPRESS;Initial Catalog=tcc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="teste.Properties.Settings.GetConnectionString" connectionString="Data Source=DESKTOP-82TTK8C\SQLEXPRESS;Initial Catalog=Get;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="teste.Properties.Settings.pimUltimateConnectionString"
            connectionString="Data Source=DESKTOP-82TTK8C\SQLEXPRESS;Initial Catalog=pimUltimate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="teste.Properties.Settings.tccConnectionString1" connectionString="Data Source=NEGREN-18\SQLEXPRESS;Initial Catalog=tcc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>